<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Understated</h1>
    <p class="lead">Don't keep your thoughts and feelings, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/secrets" role="button">Secrets</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

  </div>
</div>

<%- include('partials/footer') %>
